streamlit
pandas
pymupdf
python-docx
docx2txt
python-pptx
scikit-learn
groq
gTTS
huggingface_hub>=0.35.0
openpyxl
xlrd
langchain-groq
ddgs
langchain-community
pypdf
sentence-transformers
faiss-cpu
torch
torchvision
edge-tts
